<h1 class="text-center mt-5 title">1: "Tell me about your proudest professional achievement. It can be a personal or school project."</h1>
<br>
<p class="text-center p">Finishing a project in general gives me a "coders high" is what I like to call it. The satisfaction of completing a project you've work on for countless
    hours makes you feel accomplished. To narrow it down to my proudest achievement, I would say a project called <a href="https://agile-chamber-78706.herokuapp.com">Duckery</a>. 
    This was a project that me and a couple of developer friends created in less then a week. The idea was centered around the "rubber duck" concept. If you haven't heard about that it is a concept that for debugging
    purposes, you carry a rubber duck around to talk to when you get stumped on what's going wrong. The concept is so pose to help you debug by explaining the concept out loud
    which can help with figuring out the logic of your code. This application is RESTful using express, handlebars, and node.js packages. Users can create an account using passport.js and SQL. Customize their virtual 
    rubber duck using canvas.js, JavaScript, and SQL. Even chat with other developers if they're just completely hopeless using sockets and http. I'm most proud of this because of
    how we worked together and the amount of work it took to bring our vision to life. 
</p>
<h1 class="text-center mt-5 title">2: "Tell me about a book, blog, article or GitHub repo you read or liked recently, and why you like it and why you should recommend I do the same."</h1>
<br>
<p class="text-center p"> There are so many different articles that I've diguested from Medium. One of my favorites as of right now is <a href="https://medium.com/better-programming/7-habits-of-highly-effective-programmers-563ee3b63f33">
7 SKills of Highly Effective Programmers</a>. It was inspried by an ex-Google TechLead and it goes over some great practices for working in the tech world. Medium is one of my
favorite websites for articles on programming because it's usually inspirational and informative. Coding being my passion I love (and need) to learn the new technologies that
come out. I would recommend for any programmer to create an Medium account because of the amount of information that is at your finger-tips. Every programmer can get better. 
</p>
<h1 class="text-center mt-5 title">3: "Describe what Availity does to a 7-year-old."</h1>
<br>
<p class="text-center mb-5 p"> Avalilty helps process the transactions between insurance companies and hospitals. They are esstientially the middle man for their interactions. 
</p>