<h1 class="text-center mt-5">4: "You are tasked to write a checker that validates the parentheses of LISP code. Write a program which takes in a string as an input and returns
    true if all the parentheses in the string are properly closed and nested."</h1>
<br>
<form action="/part2" method="POST">
    <textarea rows="4" cols="150" name="string"></textarea>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
<h1 class="text-center">{{{result}}}</h1>

<h1 class="text-center mt-5">5: "For frontend engineer: Healthcare providers request to be part of the Availity system. Using React framework, create a registration user interface
    so healthcare providers can eletronically join Availity. The following data points should be collected: First and Last name, NPI number, Buiness Address, Telephone Number, and 
    Email address"</h1>
<br>